
<div class="jumbotron">

    <!-- Post a Comment Form -->
    <form action="">
        
        <!-- Enter Name -->
        <div class="form-group">
            Handle:
            <input class="form-control" id="name" placeholder="Enter Handle Here, ex. @User" name="name">
        </div>
        
        <!-- Enter Comment -->
        <div class="form-group">
            Comment:
            <input type="text" class="form-control" id="comment" placeholder="Enter Comment Here" name="comment">
        </div>

    </form><!-- End Post Comment Form -->

    <!-- Submit comment -->
    <button id="submit" type="submit" class="btn btn-default">Post Comment</button>

    <div class="jumbotron">
        <div class="row">
            <div class="col" id="comments">
            </div>
        </div>
    </div>

</div><!-- End Jumbotron -->                                            