<div class="jumbotron">
    <!-- Trigger the modal with a button -->
    <h1>Club Comments</h1>
    <p>Post a comment to help us improve the way we do things</p>
    <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#myModal">Post a Comment</button>
    <button type="button" class="btn btn-danger btn-rounded" id="toggle-comments"><p id="commentButtonText">Hide Comments</p></button>
    <div class="row">
        <div class="col" id="comments"></div>
    </div>
    <div class="row" id="nextPage">
        <button type="button" class="btn btn-danger btn-rounded col-2 nextPrevbuttons" id="prevComment"><p>Load prev page</p></button>
        <div class="col-8"></div>
        <button type="button" class="btn btn-danger btn-rounded col-2 nextPrevbuttons" id="nextComment"><p>Load next page</p></button>
    </div>
</div>                                         