
<!-- Latest News Slide -->
<div class="carousel-news slide" data-ride="carousel">
  
  <!-- Title for News -->
  <section class="news_title">Latest News and Updates</section>

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

      <!-- News Article -->
      <div class="carousel-item active">
          <div class="d-block w-100">
                  <img class="img-fluid" src="images/maxresdefault.jpg">
                  <div class="text-justify">
                      <h2>Big win over rivals!</h2>
                      <p>Our Junior B side had a massive win away from home on Sunday morning when they beat the champions from the last two years, Newmarket, in their own back yard. Apart from the last 15 minutes, when Newmarket were throwing everything at us, Avenue were the better side in this one. Avenue opened the scoring in the 15th minute when good paly down the left saw the ball squared to Mossy Hehir, who's right foot drive was too hot for the Newmarket keeper to handle. At this point, Avenue were on top and had most of possession. We doubled our advantage 10 minutes later when the Newmarket could only parry a shot and Mossey was on hand again to finish the job. With Pa Wilson and Kieran Thynne working well in the middle, were struggling to get into the game. They upped the efforts in the second half but it wasn't until Avenue started to tire that Newmarket started to control things. Although they did create some really good chances, they failed to find the Avenue net and the Avenue men left Newmarket with all three points!</p>
                  </div>
            </div>
       </div>

    <!-- News Article -->
      <div class="carousel-item">
          <div class="d-block w-100">
                    <img class="img-fluid" src="images/Art2.jpg">
                    <div class="text-justify">
                        <h2>Mixed Results in F.A.I cups</h2>
                        <p>Both of our sides in SFAI Cup action last Saturday exited their respective competitions; the U16 side went out to a strong Fairview Rangers side in Limerick while the U14 side were forced to concede home advantage to Lough Derg after Roslevan failed an early morning pitch inspection. This proved to be decisive as the side bowed out on a 1-0 scoreline to the North Tipp side. The season is now over for both these sides and they now get some well earned time off over the winter.
                           The Junior A side advanced to the open draw stages of the FAI Junior Cup after overcoming the Desmond League Champions Rathkeale on a 2-1 scoreline at Frank Healy Park on sunday last. The side trailed 1-0 at the interval but Mark Roche equalised early in the second half with Ronan Kerin grabbing the winner with 15 minutes left on the clock. The team and management are now anxiously awaiting the draw for the 5th round.</p>
                    </div>
            </div>
       </div>

    <!-- News Article -->
      <div class="carousel-item">
          <div class="d-block w-100">
              <img class="img-fluid" src="images/winner.jpeg">
                <div class="text-justify">
                    <h2>200 Club Winners!!</h2>
                        <p>The winner of the October Draw, 1st Prize €750, was Kenneth Slattery.
                            The €50 Runners-Up were John O'Malley, John Purtill and Nigel Bradish. Congrats to all our winners and good luck to everyone in the November draw.
                            Thanks again to everyone for your ongoing support
                            Thanks also to everyone who supported our recent fund-raising RACE NITE at the Temple Gate Hotel, particularly all the businesses who sponsored races, ads, spot prizes etc.
                            It was a great night and raised much-needed funds for the club.
                        </p>
                </div>
            </div>
       </div>
  </div>
</div>

<!-- End Latest News Slide -->

<!-- Fixtures and Results -->
<div class="carousel slide" data-ride="carousel">
  
  <!-- Title for Fixtures and Results -->
  <section class="news_title">Latest Fixture and Results</section>

  <div class="carousel-inner fixtures">

      <!-- Results -->
      <div class="carousel-item active">
          <div class="d-block w-100">
                <div class="row">
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U15's Avenue</div>
                            <ul class="fixtures-list">
                                <li>Avenue 0 - 0 Coole</li>
                                <li>Avenue 1 - 0 Ennis</li>
                                <li>Avenue 1 - 3 Fern</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U16's Avenue</div>
                            <ul class="fixtures-list">
                                <li>Lifford 1 - 0 Avenue</li>
                                <li>Avenue 1 - 0 Coole</li>
                                <li>Ennis 1 - 0 Avenue</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Fixtures</div>
                            <ul class="fixtures-list">
                                <li>Avenue N/A Coole</li>
                                <li>Avenue N/A Coole</li>
                                <li>Avenue N/A Coole</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U15's Fixtures</div>
                            <ul class="fixtures-list">
                                <li>Avenue N/A Coole</li>
                                <li>Ennis N/A Avenue</li>
                                <li>Avenue N/A Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U16's Fixtures</div>
                            <ul class="fixtures-list">
                                <li>Lifford N/A Coole</li>
                                <li>Lifford N/A Coole</li>
                                <li>Ennis N/A Coole</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       </div>

    <!-- News Article -->
      <div class="carousel-item">
          <div class="d-block w-100">

              <div class="row">
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
       </div>

    <!-- News Article -->
      <div class="carousel-item">
          <div class="d-block w-100">
              
              <div class="row">
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="fix-page">
                            <div class="fix-title">U14's Results</div>
                            <ul class="fixtures-list">
                                <li>Avenue 1 - 0 Fern</li>
                                <li>Avenue 3 - 0 Ennis</li>
                                <li>Avenue 5 - 3 Lifford</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
       </div>
  </div>
</div>
<!-- Profiles -->
<div class="jumbotron">
    <div class="row">

        <!-- Profile -->
        <div class="col">
            <div class="profile">
                <img class="rounded-circle" src="images/head1.jpg" alt="Picture of John Smith'">
                <h5>
                    Name: John Smith
                </h5>
                <h5>
                    Title: Chairperson
                </h5>
                <p>
                    John joined the club in 1985 and has reached the peak of amateur soccer competing in the 1996 FAI cup final
                </p>
            </div>
        </div>

        <!-- Profile -->
        <div class="col">
            <div class="profile">
                <img class="rounded-circle" src="images/head2.jpeg" alt="Picture of Andy McMahon">
                <h5>
                    Name: Andy McMahon
                </h5>
                <h5>
                    Title: Tresurer
                </h5>
                <p>
                    A gifted person with numbers Andy has brought the club from just a small club in ennis to the forefront of Clare soccer
                </p>
            </div>
        </div>

        <!-- Profile -->
        <div class="col">
            <div class="profile">
                <img class="rounded-circle" src="images/head3.jpeg" alt="Picture of Mark Davis">
                <h5>
                    Name: Mark Davis
                </h5>
                <h5>
                    Title: Secretary
                </h5>
                <p>
                    Always involved in the club, Mark is very easy to contact and can be reached by many means
                </p>
            </div>
        </div>

  </div> <!-- End Row -->

</div> <!-- End Jumbotron -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post a Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Post a Comment Form -->
        <form action="">
            
            <!-- Enter Name -->
            <div class="form-group">
                Handle:
                <input class="form-control" id="name" placeholder="Enter Handle Here, ex. @User" name="name">
            </div>
            
            <!-- Enter Comment -->
            <div class="form-group">
                Comment:
                <input type="text" class="form-control" id="comment" placeholder="Enter Comment Here" name="comment">
            </div>

        </form><!-- End Post Comment Form -->

        <!-- Submit comment -->
        <button id="submit" type="submit" class="btn btn-default">Post Comment</button>
      </div>

      <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="jumbotron">
    <!-- Trigger the modal with a button -->
    <h2>Club Comments</h2>
    <p>Post a comment to help us improve the way we do things</p>
    <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#myModal">Post a Comment</button>
    <button type="button" class="btn btn-danger btn-rounded" id="toggle-comments"><p id="commentButtonText">Hide Comments</p></button>
    <div class="row">
        <div class="col" id="comments"></div>
    </div>
</div>